@import "./colors.scss";
@import "./reset.scss";
.part1 {
  margin: 5vh auto;
  
  @media only screen and (max-width: 1024px){
    position: relative;
    top: 30%;
    left: -100%;
  }

  h1 {
    position: absolute;
    margin-top: 5vh;
    margin-left: 55vh;
    font-size: 5vh;
    text-align: center;
    background-image: linear-gradient(to bottom right,
        #ffffff 0%,
        #ffffffe1 60%,
        #ffffff36 100%);
    border-radius: 1vh; 
  }

  img {
    width: 65vh;
    border-radius: 1.5vh;
    display: block;
    margin-left: 70vh;
    margin-right: 30vh;
  }

  p {
    margin-top: 2vh;
    text-align: center;
    margin-left: 3vh;
    line-height: normal;
    @media only screen and (max-width: 1024px){
      position: absolute;
      top: 100%;
      font-size: 20px;
      left: 80%;
      padding: 10%;
    }
  }
}

.part3 {
  padding: 5vh;

  h1 {
    font-size: 3vh;
    text-align: center;
    justify-content: space-between;
  }

  p {
    margin-top: 2vh;
    text-align: center;
    line-height: normal;
  }
}

.part4 {
  display: flex;
  justify-content: center;
  padding: 5vh;

  .box {
    display: inline;
    padding: 7vh;

    h1 {
      font-size: 3vh;
      padding: .5vh;
    }

    >p {
      padding: 1vh 0 3vh;
      line-height: normal;
    }

    button {
      cursor: pointer;
      background: #489FB5;
      width: 20vh;
      border: none;
      outline: none;
      color: #fff;
      height: 5.5vh;
      border-radius: 20vh;
      margin: auto;
      display: block;
    }
  }

  .image {
    display: inline;

    img {
      width: 65vh;
      border-radius: 1.5vh;
    }
  }
}

.axa {
  background-color: #efe9f4;
  padding: 3.5vh;
  height: 13vh;

  .ani {
    text-align: center;
    position: relative;
    div {
      display: inline-block;
      font-size: 3vh;
      margin: 20px 3.5vw;
  
    }
  }

  .sageata {
    position: relative;
    top: 5%;
    div {
      position: absolute;
      left: 28%;
      margin-top: -0.3%;
      z-index: 5;

      img {
        display: inline-block;
        margin: 0 9.5vh;
        width: 2vh;
      }
    }

    hr {
      position: absolute;
      width: 64vh;
      margin: 0;
      left: 33.5%;
      background-color: rgb(0, 0, 0);
      height: .15vh;
    }
  }

  .desc {
    padding-top: 3vh;

    div {
      position: relative;
      text-align: center;
      font-size: 15px;
      color: rgba(129, 129, 129, 0.844);
    }
    >.d1{
      position: absolute;
      left: 32%;
    }
    >.d2{
      position: absolute;
      left: 42%;
    }
    >.d3{
      position: absolute;
      left: 53%;
     
    }
    >.d4{
      position: absolute;
      left: 65%;
    }
  }
}