/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  overflow-y: scroll;
}

.part1 {
  margin: 5vh auto;
}
@media only screen and (max-width: 1024px) {
  .part1 {
    position: relative;
  }
}
.part1 h1 {
  position: absolute;
  margin-top: 5vh;
  margin-left: -5vh;
  font-size: 5vh;
  text-align: center;
  background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.8823529412) 60%, rgba(255, 255, 255, 0.2117647059) 100%);
  border-radius: 1vh;
  padding: 1vh 0.7vh;
}
@media only screen and (max-width: 1024px) {
  .part1 h1 {
    font-size: 3vh;
    margin-left: 2vh;
    margin-top: 2vh;
    padding: 0.7vh 0.7vh;
    position: absolute;
  }
}
.part1 img {
  width: 65vh;
  border-radius: 1.5vh;
  display: block;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .part1 img {
    width: 75%;
    height: 75%;
    margin: auto;
  }
}
.part1 p {
  margin-top: 2vh;
  text-align: center;
  margin-left: 3vh;
  line-height: normal;
  max-width: 650px;
  justify-content: center;
  display: flex;
  margin: 2vh auto;
}
@media only screen and (max-width: 1024px) {
  .part1 p {
    font-size: 2vh;
    padding: 2vh;
  }
}

.part3 {
  padding: 5vh;
}
.part3 h1 {
  font-size: 3vh;
  text-align: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .part3 h1 {
    font-size: 2.5vh;
  }
}
.part3 p {
  margin-top: 2vh;
  text-align: center;
  line-height: normal;
}
@media only screen and (max-width: 1024px) {
  .part3 p {
    font-size: 2vh;
  }
}

.part4 {
  display: flex;
  justify-content: center;
  padding: 5vh;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .part4 {
    display: initial;
  }
}
.part4 > .box {
  display: inline;
  padding: 7vh;
}
@media only screen and (max-width: 1024px) {
  .part4 > .box {
    display: block;
  }
}
.part4 > .box h1 {
  font-size: 3vh;
  padding: 0.5vh;
}
@media only screen and (max-width: 1024px) {
  .part4 > .box h1 {
    text-align: center;
    font-size: 2.5vh;
  }
}
.part4 > .box > p {
  padding: 1vh 0 3vh;
  line-height: normal;
  max-width: 550px;
}
@media only screen and (max-width: 1024px) {
  .part4 > .box > p {
    text-align: center;
    font-size: 2vh;
  }
}
.part4 > .box a {
  cursor: pointer;
  background: #489fb5;
  width: 25vh;
  border: none;
  outline: none;
  color: #fff;
  height: 50px;
  border-radius: 20vh;
  top: 70%;
  left: 61%;
  display: block;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}
@media only screen and (max-width: 1024px) {
  .part4 > .box a {
    display: flex;
    margin: 0 auto;
  }
}
.part4 .image {
  display: inline;
}
@media only screen and (max-width: 1024px) {
  .part4 .image {
    justify-content: center;
    display: flex;
  }
}
.part4 .image img {
  width: 65vh;
  border-radius: 1.5vh;
}
@media only screen and (max-width: 1024px) {
  .part4 .image img {
    width: 90%;
    height: 75%;
  }
}

.axe {
  display: flex;
  max-width: 950px;
  position: relative;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media only screen and (max-width: 1024px) {
  .axe {
    overflow-x: scroll;
    margin: 0 0;
  }
}
.axe::before {
  content: "";
  display: block;
  position: absolute;
  width: 780px;
  height: 3px;
  background-color: black;
  top: 80px;
  transform: translate(8%, 8%);
}
.axe > div {
  flex: 1;
  margin-right: 90px;
  position: relative;
  padding: 0 30px;
}
.axe > div::before {
  content: "";
  display: block;
  width: 45px;
  height: 30px;
  position: absolute;
  top: 66px;
  background-image: url(/image/axa.png);
  background-size: 45px 30px;
  margin-left: 3vh;
}
.axe > div:last-of-type {
  margin-right: 0;
}
.axe > div > span {
  font-size: 48px;
  font-weight: 600;
  color: gray;
  overflow: hidden;
}
.axe > div > p {
  margin-top: 60px;
  text-align: center;
}

.desc {
  padding-top: 3vh;
}
.desc div {
  position: relative;
  text-align: center;
  font-size: 15px;
  color: rgba(129, 129, 129, 0.844);
}
.desc > .d1 {
  position: absolute;
  left: 32%;
}
.desc > .d2 {
  position: absolute;
  left: 42%;
}
.desc > .d3 {
  position: absolute;
  left: 53%;
}
.desc > .d4 {
  position: absolute;
  left: 65%;
}/*# sourceMappingURL=aboutus.css.map */