/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.part1 {
  margin: 5vh auto;
}
@media only screen and (max-width: 1024px) {
  .part1 {
    position: relative;
    top: 30%;
    left: -100%;
  }
}
.part1 h1 {
  position: absolute;
  margin-top: 5vh;
  margin-left: 55vh;
  font-size: 5vh;
  text-align: center;
  background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.8823529412) 60%, rgba(255, 255, 255, 0.2117647059) 100%);
  border-radius: 1vh;
}
@media only screen and (max-width: 1024px) {
  .part1 h1 {
    position: relative;
    top: 30%;
    left: -100%;
  }
}
.part1 img {
  width: 65vh;
  border-radius: 1.5vh;
  display: block;
  margin-left: 70vh;
  margin-right: 30vh;
}
.part1 p {
  margin-top: 2vh;
  text-align: center;
  margin-left: 3vh;
  line-height: normal;
}
@media only screen and (max-width: 1024px) {
  .part1 p {
    position: absolute;
    top: 100%;
    font-size: 20px;
    left: 80%;
    padding: 10%;
  }
}

.part3 {
  padding: 5vh;
}
.part3 h1 {
  font-size: 3vh;
  text-align: center;
  justify-content: space-between;
}
.part3 p {
  margin-top: 2vh;
  text-align: center;
  line-height: normal;
}

.part4 {
  display: flex;
  justify-content: center;
  padding: 5vh;
}
.part4 .box {
  display: inline;
  padding: 7vh;
}
.part4 .box h1 {
  font-size: 3vh;
  padding: 0.5vh;
}
.part4 .box > p {
  padding: 1vh 0 3vh;
  line-height: normal;
}
.part4 .box button {
  cursor: pointer;
  background: #489FB5;
  width: 20vh;
  border: none;
  outline: none;
  color: #fff;
  height: 5.5vh;
  border-radius: 20vh;
  margin: auto;
  display: block;
}
.part4 .image {
  display: inline;
}
.part4 .image img {
  width: 65vh;
  border-radius: 1.5vh;
}

.axa {
  background-color: #efe9f4;
  padding: 3.5vh;
  height: 13vh;
}
.axa .ani {
  text-align: center;
  position: relative;
}
.axa .ani div {
  display: inline-block;
  font-size: 3vh;
  margin: 20px 3.5vw;
}
.axa .sageata {
  position: relative;
  top: 5%;
}
.axa .sageata div {
  position: absolute;
  left: 28%;
  margin-top: -0.3%;
  z-index: 5;
}
.axa .sageata div img {
  display: inline-block;
  margin: 0 9.5vh;
  width: 2vh;
}
.axa .sageata hr {
  position: absolute;
  width: 64vh;
  margin: 0;
  left: 33.5%;
  background-color: rgb(0, 0, 0);
  height: 0.15vh;
}
.axa .desc {
  padding-top: 3vh;
}
.axa .desc div {
  position: relative;
  text-align: center;
  font-size: 15px;
  color: rgba(129, 129, 129, 0.844);
}
.axa .desc > .d1 {
  position: absolute;
  left: 32%;
}
.axa .desc > .d2 {
  position: absolute;
  left: 42%;
}
.axa .desc > .d3 {
  position: absolute;
  left: 53%;
}
.axa .desc > .d4 {
  position: absolute;
  left: 65%;
}/*# sourceMappingURL=aboutus.css.map */