@import "./colors.scss";
@import "./reset.scss";

body {
  overflow-y: scroll;
}
.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 30px auto 75px;
  justify-content: center;

  @media only screen and (max-width: 1024px) {
    padding: 0 20px 60px;
  }

  > a {
    width: calc(100% / 3 - 20px);
    background-color: $fountain-blue-29;
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 20px 0;
    text-decoration: none;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    > p {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      color: $dark;
    }

    > img {
      margin-top: 30px;
      width: 100%;
      height: 120px;
      object-fit: contain;
    }
  }
}
