@import "./colors.scss";
@import "./reset.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;

  div {
    &:first-of-type {
      > img {
        width: 110px;
        height: 110px;
      }
    }

    &:last-of-type {
      height: 40px;
      background-color: #489fb5;
      border-radius: 10px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;

      a {
        padding: 5px 10px;

        &:hover {
          background-color: #1a5c6c;
        }

        > img {
          width: 25px;
          margin: 5px;
        }
      }
    }

    &:nth-child(2) {
      justify-content: center;
      text-align: center;
      width: 100px;
      display: flex;
      width: 450px;

      a {
        text-decoration: none;
        color: #1b264f;
        margin: 20px;

        &:hover {
          color: #489fb5;
        }
      }
    }
  }
}
