@import "./colors.scss";
@import "./reset.scss";

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bgmain {
  position: relative;
  overflow: hidden;

  >img:first-of-type {
    position: absolute;
    left: 15%;
    top: 10%;
    height: 90%;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  >img:last-of-type {
    position: absolute;
    right: 5%;
    top: 0;
    height: 70%;

    @media only screen and (max-width: 1024px) {
      position: absolute;
      right: 2%;
      top: 10%;
      height: 90%;
    }
  }

  >div {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px 0 90px;

    @media only screen and (max-width: 1024px) {
      padding: 50px 20px 30px;
      background-color: rgba(255, 255, 255, 0.724)
    }

    >h1 {
      font-size: 64px;
      text-align: center;
      font-weight: 600;

      @media only screen and (max-width: 1024px) {
        font-size: 36px;
      }
    }

    >h2 {
      font-size: 21px;
      font-weight: 400;
      margin-top: 30px;

      @media only screen and (max-width: 1024px) {
        font-size: 18px;
        text-align: center;
      }
    }

    >a {
      text-decoration: none;
      color: white;
      background-color: $fountain-blue;
      font-size: 21px;
      padding: 10px 30px;
      border-radius: 30px;
      margin-top: 50px;
      font-weight: 400;
      box-shadow: #489fb54b 0px 1.4vh 2.8vh, #489fb517 0px 1vh 1vh;

      @media only screen and (max-width: 1024px) {
        margin-top: 50px;
      }
    }
  }
}

.produse {
  margin-top: 20vh;
  background-color: rgba(128, 128, 128, 0.124);

  @media only screen and (max-width: 1024px) {
    margin-top: 60px;
  }


  >.boxuri {
    display: flex;

    >.box1 {
      margin: 5vh;
      border-radius: 6vh;
      background-color: rgba(128, 128, 128, 0.124);

      >img {
        width: 30vh;
        padding: 0 3vh;
        margin-top: 4vh;
      }

      >.pret {
        margin-left: 10vh;
        color: rgba(128, 128, 128, 0.6);
        font-size: 2.5vh;

        >span {
          color: black;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2vh;
          margin-left: 2vh;
        }
      }

      >button {
        float: right;
        border: none;
        background-color: rgba(0, 0, 0, 0.787);
        margin: -1vh -1vh -1vh -1vh;
        width: 6vh;
        height: 6vh;
        border-radius: 2vh;
        cursor: pointer;

        >img {
          margin-top: 0.1vh;
          width: 3vh;
          height: 3vh;
        }

        @media only screen and (max-width: 1024px) {
          width: 5vh;
          height: 5vh;
        }
      }

      @media only screen and (max-width: 1024px) {
        margin-left: 19px;
        margin-right: 7vh;
        margin-top: 25vh;
        width: 20vh;
        height: 20vh;

        >img {
          margin-top: 1vh;
          margin-left: -3vh;
          width: 20vh;
        }
      }
    }

    >.box2 {
      margin: 5vh -1.5vh;
      border-radius: 6vh;
      background-color: rgba(128, 128, 128, 0.124);

      >img {
        width: 30vh;
        padding: 0 3vh;
        margin-top: 4vh;
      }

      >.pret {
        margin-left: 10vh;
        color: rgba(128, 128, 128, 0.6);
        font-size: 2.5vh;

        >span {
          color: black;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2vh;
          margin-left: 2vh;
        }
      }

      >button {
        float: right;
        border: none;
        background-color: rgba(0, 0, 0, 0.787);
        margin: -1vh -1vh -1vh -1vh;
        width: 6vh;
        height: 6vh;
        border-radius: 2vh;
        cursor: pointer;

        >img {
          margin-top: 0.1vh;
          width: 3vh;
          height: 3vh;
        }

        @media only screen and (max-width: 1024px) {
          width: 5vh;
          height: 5vh;
        }
      }

      @media only screen and (max-width: 1024px) {
        margin-left: -25px;
        margin-top: 25vh;
        width: 20vh;
        height: 20vh;

        >img {
          margin-top: 1vh;
          margin-left: -3vh;
          width: 20vh;
        }
      }
    }

    >.box3 {
      margin: 5vh;
      border-radius: 6vh;
      background-color: rgba(128, 128, 128, 0.124);

      >img {
        width: 30vh;
        padding: 0 3vh;
        margin-top: 4vh;
      }

      >.pret {
        margin-left: 10vh;
        color: rgba(128, 128, 128, 0.6);
        font-size: 2.5vh;

        >span {
          color: black;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2vh;
          margin-left: 2vh;
        }
      }

      >button {
        margin-top: 0.2vh;
        float: right;
        border: none;
        background-color: rgba(0, 0, 0, 0.787);
        margin: -1vh -1vh -1vh -1vh;
        width: 6vh;
        height: 6vh;
        border-radius: 2vh;
        cursor: pointer;

        >img {
          margin-top: 0.1vh;
          width: 3vh;
          height: 3vh;
        }

        @media only screen and (max-width: 1024px) {
          width: 5vh;
          height: 5vh;
        }
      }

      @media only screen and (max-width: 1024px) {
        margin-left: -30vh;
        margin-top: 50vh;
        width: 20vh;
        height: 20vh;
        

        >img {
          margin-top: 1vh;
          margin-left: -3vh;
          width: 20vh;
        }
      }
    }

    >.box4 {
      margin: 5vh -1.5vh;
      border-radius: 6vh;
      background-color: rgba(128, 128, 128, 0.124);

      >img {
        width: 20vh;
        padding: 1vh 8vh;
        margin-top: 6vh;
      }

      >.pret {
        margin-left: 10vh;
        color: rgba(128, 128, 128, 0.6);
        font-size: 2.5vh;

        >span {
          color: black;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 2vh;
          margin-left: 2vh;
        }
      }

      >button {
        float: right;
        border: none;
        background-color: rgba(0, 0, 0, 0.787);
        margin: -1vh -1vh -1vh -1vh;
        width: 6vh;
        height: 6vh;
        border-radius: 2vh;
        cursor: pointer;

        >img {
          margin-top: 0.1vh;
          width: 3vh;
          height: 3vh;
        }

        @media only screen and (max-width: 1024px) {
          width: 5vh;
          height: 5vh;
        }
      }

      @media only screen and (max-width: 1024px) {
        margin-top: 50vh;
        width: 20vh;
        height: 20vh;

        >img {
          margin-top: 1vh;
          margin-left: -3vh;
          width: 20vh;
        }
      }
    }
  }

  >h1 {
    align-items: flex-end;
    float: right;
    margin: -34vh 8vh;
    line-height: 1.3;
    font-size: 7vh;
    font-weight: 100;

    @media only screen and (max-width: 1024px) {
      margin-top: -74vh;
      line-height: 1;
      margin-right: 70px;
    }
  }
}