/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bgmain {
  position: relative;
  overflow: hidden;
}
.bgmain > img:first-of-type {
  position: absolute;
  left: 15%;
  top: 10%;
  height: 90%;
}
@media only screen and (max-width: 1024px) {
  .bgmain > img:first-of-type {
    display: none;
  }
}
.bgmain > img:last-of-type {
  position: absolute;
  right: 5%;
  top: 0;
  height: 70%;
}
@media only screen and (max-width: 1024px) {
  .bgmain > img:last-of-type {
    position: absolute;
    right: 2%;
    top: 10%;
    height: 90%;
  }
}
.bgmain > div {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 60px 0 90px;
}
@media only screen and (max-width: 1024px) {
  .bgmain > div {
    padding: 50px 20px 30px;
    background-color: rgba(255, 255, 255, 0.724);
  }
}
.bgmain > div > h1 {
  font-size: 64px;
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  .bgmain > div > h1 {
    font-size: 36px;
  }
}
.bgmain > div > h2 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
  .bgmain > div > h2 {
    font-size: 18px;
    text-align: center;
  }
}
.bgmain > div > a {
  text-decoration: none;
  color: white;
  background-color: #489fb5;
  font-size: 21px;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 50px;
  font-weight: 400;
  box-shadow: rgba(72, 159, 181, 0.2941176471) 0px 1.4vh 2.8vh, rgba(72, 159, 181, 0.0901960784) 0px 1vh 1vh;
}
@media only screen and (max-width: 1024px) {
  .bgmain > div > a {
    margin-top: 50px;
  }
}

.produse {
  margin-top: 20vh;
  background-color: rgba(128, 128, 128, 0.124);
}
@media only screen and (max-width: 1024px) {
  .produse {
    margin-top: 60px;
  }
}
.produse > .boxuri {
  display: flex;
}
.produse > .boxuri > .box1 {
  margin: 5vh;
  border-radius: 6vh;
  background-color: rgba(128, 128, 128, 0.124);
}
.produse > .boxuri > .box1 > img {
  width: 30vh;
  padding: 0 3vh;
  margin-top: 4vh;
}
.produse > .boxuri > .box1 > .pret {
  margin-left: 10vh;
  color: rgba(128, 128, 128, 0.6);
  font-size: 2.5vh;
}
.produse > .boxuri > .box1 > .pret > span {
  color: black;
}
.produse > .boxuri > .box1 > button {
  float: right;
  border: none;
  background-color: rgba(0, 0, 0, 0.787);
  margin: -1vh -1vh -1vh -1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 2vh;
  cursor: pointer;
}
.produse > .boxuri > .box1 > button > img {
  margin-top: 0.1vh;
  width: 3vh;
  height: 3vh;
}
@media only screen and (max-width: 1024px) {
  .produse > .boxuri > .box1 {
    padding: auto;
  }
}
.produse > .boxuri > .box2 {
  margin: 5vh -1.5vh;
  border-radius: 6vh;
  background-color: rgba(128, 128, 128, 0.124);
}
.produse > .boxuri > .box2 > img {
  width: 30vh;
  padding: 0 3vh;
  margin-top: 4vh;
}
.produse > .boxuri > .box2 > .pret {
  margin-left: 10vh;
  color: rgba(128, 128, 128, 0.6);
  font-size: 2.5vh;
}
.produse > .boxuri > .box2 > .pret > span {
  color: black;
}
.produse > .boxuri > .box2 > button {
  float: right;
  border: none;
  background-color: rgba(0, 0, 0, 0.787);
  margin: -1vh -1vh -1vh -1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 2vh;
  cursor: pointer;
}
.produse > .boxuri > .box2 > button > img {
  margin-top: 0.1vh;
  width: 3vh;
  height: 3vh;
}
.produse > .boxuri > .box3 {
  margin: 5vh;
  border-radius: 6vh;
  background-color: rgba(128, 128, 128, 0.124);
}
.produse > .boxuri > .box3 > img {
  width: 30vh;
  padding: 0 3vh;
  margin-top: 4vh;
}
.produse > .boxuri > .box3 > .pret {
  margin-left: 10vh;
  color: rgba(128, 128, 128, 0.6);
  font-size: 2.5vh;
}
.produse > .boxuri > .box3 > .pret > span {
  color: black;
}
.produse > .boxuri > .box3 > button {
  margin-top: 0.2vh;
  float: right;
  border: none;
  background-color: rgba(0, 0, 0, 0.787);
  margin: -1vh -1vh -1vh -1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 2vh;
  cursor: pointer;
}
.produse > .boxuri > .box3 > button > img {
  margin-top: 0.1vh;
  width: 3vh;
  height: 3vh;
}
.produse > .boxuri > .box4 {
  margin: 5vh -1.5vh;
  border-radius: 6vh;
  background-color: rgba(128, 128, 128, 0.124);
}
.produse > .boxuri > .box4 > img {
  width: 20vh;
  padding: 1vh 8vh;
  margin-top: 6vh;
}
.produse > .boxuri > .box4 > .pret {
  margin-left: 10vh;
  color: rgba(128, 128, 128, 0.6);
  font-size: 2.5vh;
}
.produse > .boxuri > .box4 > .pret > span {
  color: black;
}
.produse > .boxuri > .box4 > button {
  float: right;
  border: none;
  background-color: rgba(0, 0, 0, 0.787);
  margin: -1vh -1vh -1vh -1vh;
  width: 6vh;
  height: 6vh;
  border-radius: 2vh;
  cursor: pointer;
}
.produse > .boxuri > .box4 > button > img {
  margin-top: 0.1vh;
  width: 3vh;
  height: 3vh;
}
.produse > h1 {
  align-items: flex-end;
  float: right;
  margin: -34vh 8vh;
  line-height: 1.3;
  font-size: 7vh;
  font-weight: 100;
}/*# sourceMappingURL=home.css.map */