@import "./colors.scss";
@import "./reset.scss";

.produse {
  margin: 5vh auto;

  .row1 {
    display: flex;
    margin: 0 30vh;
    justify-content: space-between;
    > a {
      background-color: #489fb54a;
      width: 45vh;
      height: 32vh;
      border-radius: 1.5vh;
      text-decoration: none;
      > p {
        font-size: 3vh;
        text-align: center;
        margin-top: 10%;
        color: $dark;
      }
      > img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: 10px;
      }
    }
  }
  > .row2 {
    display: flex;
    margin: 8vh 30vh;
    justify-content: space-between;
    > a {
      background-color: #489fb54a;
      width: 45vh;
      height: 32vh;
      border-radius: 1.5vh;
      text-decoration: none;
      > p {
        font-size: 3vh;
        text-align: center;
        margin-top: 10%;
        color: $dark;
      }
      > img {
        width: 50%;
        margin: auto;
        display: block;
        position: relative;
        top: 10px;
      }
    }
  }
}
