/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  overflow-y: scroll;
}

.continut {
  flex: 1;
}

.produs {
  display: flex;
  justify-content: center;
  margin: 5vh 5vh;
  align-items: flex-start;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 10vw;
}
@media only screen and (max-width: 1024px) {
  .produs {
    flex-wrap: wrap;
  }
}
.produs > img {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  max-width: 300px;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.produs > div:first-of-type {
  display: flex;
  flex-direction: column;
}
.produs > div:first-of-type > .text > p {
  font-size: 4vh;
  font-weight: 600;
  padding: 1vh 0vh;
}
.produs > div:first-of-type > .descriere {
  font-size: 15px;
  max-width: 400px;
  line-height: 1.1;
}
.produs > div:first-of-type > .pretul {
  margin-top: 4vh;
}
.produs > div:first-of-type > .pretul > .pret {
  font-size: 4vh;
}
.produs > div:first-of-type > .pretul .kg {
  font-size: 2vh;
}
.produs > div:first-of-type > .block_count {
  display: flex;
  align-items: center;
}
.produs > div:first-of-type > .block_count > div {
  padding: 2vh 2vh;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  .produs > div:first-of-type > .block_count > div {
    font-size: 15px;
  }
}
.produs > div:first-of-type > .block_count > .input_minus {
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(206, 206, 206);
  width: 10px;
  height: 10px;
  cursor: pointer;
  text-align: center;
  padding-top: 2vh;
  line-height: 12px;
}
.produs > div:first-of-type > .block_count .number {
  padding-right: 0;
}
.produs > div:first-of-type > .block_count > .input_plus {
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px rgb(206, 206, 206);
  margin: 2vh;
  width: 10px;
  height: 10px;
  line-height: 10px;
  cursor: pointer;
  text-align: center;
}
.produs > div:first-of-type > .add-cart {
  position: relative;
  background: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-style: none;
  cursor: pointer;
  margin: 0vh 2vh;
  margin-left: 0;
  float: left;
  width: 100%;
  max-width: 250px;
}
.produs > div:first-of-type > .add-cart > .bt {
  position: relative;
  left: -3vh;
  width: 4vh;
  height: 4vh;
}
.produs > div:first-of-type > .add-cart > .bt_p {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: 600;
}
.produs > div:first-of-type > .add-cart:hover {
  opacity: 0.8;
}

footer {
  bottom: 0;
  display: flex;
  padding: 20px;
}
@media only screen and (max-width: 1024px) {
  footer {
    position: relative;
    padding: 0;
  }
}/*# sourceMappingURL=product.css.map */