@import "./colors.scss";
@import "./reset.scss";

.produse {
  margin: 5vh auto;

  .row1 {
    display: flex;
    margin: 0 30vh;
    justify-content: space-between;
    > a {
      background-color: #489fb54a;
      width: 45vh;
      height: 32vh;
      border-radius: 1.5vh;
      text-decoration: none;
      > p {
        font-size: 3vh;
        text-align: center;
        margin-top: 10%;
        color: $dark;
      }
      > img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      > .asortate {
        margin-top: 20px;
        width: 60%;
      }
      > .cookies {
        width: 50%;
      }
      > .magiun {
        width: 70%;
      }
    }
  }
  > .row2 {
    display: flex;
    margin: 2vh 30vh;

    justify-content: center;

    > a {
      background-color: #489fb54a;
      width: 45vh;
      height: 32vh;
      border-radius: 1.5vh;
      text-decoration: none;
      margin: 15px;
      > p {
        font-size: 3vh;
        text-align: center;
        margin-top: 10%;
        color: $dark;
      }
      > img {
        margin: auto;
        display: block;
        position: relative;
        top: 10px;
      }
      >.ciocolata{
        width: 55%;
      }
      >.altele{
        width: 70%;
      }
    }
  }
}
