/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.produs {
  display: flex;
  justify-content: center;
  margin: 5vh 5vh;
}
.produs > div:first-of-type > img {
  max-width: 650px;
  margin: 5vh 5vh;
}
.produs > div:last-of-type .text > p {
  font-size: 4vh;
  font-weight: 600;
  padding: 2vh 0vh;
}
.produs > div:last-of-type > .pretul {
  margin-top: 2vh;
}
.produs > div:last-of-type > .pretul > .pret {
  font-size: 4vh;
}
.produs > div:last-of-type > .pretul .kg {
  font-size: 2vh;
}
.produs > div:last-of-type > .last_row {
  display: inline-flex;
}
.produs > div:last-of-type > .last_row > .block_count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(207, 207, 207);
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 15vh;
  margin: 2vh 2vh;
  height: 60px;
  margin-left: 0;
}
.produs > div:last-of-type > .last_row > .block_count > div {
  padding: 2vh;
  text-align: center;
  font-size: 2.5vh;
}
.produs > div:last-of-type > .last_row > .block_count > .input_minus {
  cursor: pointer;
}
.produs > div:last-of-type > .last_row > .block_count > .input_plus {
  cursor: pointer;
}
.produs > div:last-of-type > .last_row > .adauga-la-cos {
  position: relative;
  background: #489fb5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-style: none;
  cursor: pointer;
  width: 30vh;
  margin: 2vh 2vh;
  margin-left: 0;
}
.produs > div:last-of-type > .last_row > .adauga-la-cos > .bt {
  position: relative;
  left: -3vh;
  width: 4vh;
  height: 4vh;
}
.produs > div:last-of-type > .last_row > .adauga-la-cos > .bt_p {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: 600;
}/*# sourceMappingURL=product.css.map */